$timeline_width: 600px;
$timeline_background: rgb(29, 29, 29);

$p1_color: #e77614;
$p2_color: #28a92b;
$p3_color: #8d3dae;
$p4_color: #ff3333;
$p5_color: #0080ff;
$p5_color: #ffff66;

li {
    list-style-type: none;
}

.timeline {
    box-sizing: border-box;

    width: $timeline_width;
    background-color: $timeline_background;
    border-radius: 20px;

    margin: auto;
    padding: 25px;
}

.timeline-ui-time {
    color: white;
    text-align: center;
    height: 50px;

    display: flex;
    justify-content: space-between;

    h1 {
        margin: 0px;
    }
}

.timeline-ui-graph {
    position: relative;

    .timeline-ui-cursor {
        position: absolute;
        width: 1px;
        height: 75px;
        background-color: red;

        top: -15px;
    }
}

.timeline-ui-markers {
    width: 100%;
    height: 20px;
    display: flex;

    margin-top: 0px;
    padding: 0px;

    li {
        width: 100%;
        border-left: 1px solid white;
    }
    li:last-child {
        border-right: 1px solid white;
    }
}

.timeline-ui-row {
    width: 100%;
    height: 50px;
    display: flex;

    margin-bottom: 0px;
    padding: 0px;

    li {
        width: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
        flex-grow: 1;
    }

    li:nth-child(1) {
        background-color: $p1_color;
        flex-grow: 2;
    }
}

.timeline-ui-controller {
    margin-top: 20px;

    .timeline-ui-inputs {
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    input {
        width: 100%;
        text-align: center;
    }
}

button {
    width: 70px;
    height: 30px;

    margin: 0px auto;
    border: 0;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}
