.main-wrapper {
    width: 100%;
    height: 100vh;

    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-size: 50px;
        text-align: center;
        font-family: $eng-title-font;
    }
    h3 {
        color: white;
        text-align: center;
    }

    .search-box {
        margin: 20px;
        width: 50%;
        max-width: 500px;
        height: 30px;

        border-radius: 20px;
        outline: none;
        padding: 4px;
    }
}
